@layer vendor;

@import 'tailwindcss';

@import "./fonts.css" layer(vendor);

@theme {
  /* Colours */
  --color-blue: #1DA1F2;
  --color-darkblue: #2795D9;
  --color-lightblue: #EFF9FF;
  --color-dark: #657786;
  --color-light: #AAB8C2;
  --color-lighter: #E1E8ED;
  --color-lightest: #F5F8FA;
  --color-white: #fff;
  
  /* Fonts */
  --font-roboto: "Roboto", sans-serif; 
}

@utility container {  
  margin-inline: auto;
  padding-inline: 2rem;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--font-roboto);
  }
  body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }  
  button:focus, input:focus {
    outline: none;
  }
}

.modal-main {
  height: 60rem
}

textarea {
  resize: none;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1.6em;
  width: 1.6em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: .2;
  pointer-events: all;
}

a:link, a {
  color: var(--color-darkblue);
}

a:hover {
  text-decoration: underline;
}

#custom-link:link, #custom-link {
  color: var(--color-dark);
  font-weight: bold;
}

#custom-link:hover {
  text-decoration: underline;
}